<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="icon" href="/assets/favicon.ico">
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="/js/index.js" type="text/javascript"></script>
</head>
<body>
  <div id="main_div">
    <div id="navigator">
      <img src="/assets/logo.png" id="logo">
      <div id="t1">&nbsp;Fit</div>
      <div id="t2">Daily</div>
    </div>
    <div id="content_wrapper">
      <div id="main_bar"></div>
      <div id="main_1">
        <div id="t3">
          "Challenge Yourself,<br>
          Embrace the Change."
        </div>
        <div id="t4">
          FitDaily is a new web service that records users' exercise activities and helps them achieve their goals.
        </div>
        <div id="buttons">
          <button id="b1">LOGIN</button>
          <button id="b2">SIGNUP</button>
        </div>
      </div>
      <div id="imgs_wrapper1">
        <div id="imgs_ver1"></div>
        <div id="imgs_buttons_v1">
          <button id="prev1"><i class="fas fa-chevron-left"></i></button>
          <div style="width: 50px;"></div>
          <button id="next1"><i class="fas fa-chevron-right"></i></button>
        </div>
      </div>
      
    </div>
    <div id="imgs_wrapper2">
      
      <div id="imgs_buttons_v2">
        <button id="prev2"><i class="fas fa-chevron-left"></i></button>
        <div style="width: 50px;"></div>
        <button id="next2"><i class="fas fa-chevron-right"></i></button>
      </div>
      <div id="imgs_ver2"></div>
    </div>
  </div>
</body>
</html>