<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FitDaily</title>
    <link rel="icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    
    <div id="main_div">
        <div id="navigator">
            <div style="display:flex; align-items: center;">
                <img src="/assets/logo.png" id="logo">
                <div id="t1">&nbsp;Fit</div>
                <div id="t2">Daily</div>
            </div>
            
            <div id="nav1">
                <div id="nav1_1">Welcome Back!</div>
                <div id="nav1_2"></div>
            </div>
        </div>
        <div style="margin-left: 5vw; width: 90vw; height:3px; background-color: #faa937;"></div>
        <div id="main_wrapper">
            <div id="left_bar">
                <div style="height: 30px;"></div>
                <div id="btn_ov">
                    &nbsp;&nbsp;Overview
                </div>
                <div id="btn_wo">
                    &nbsp;&nbsp;Workout
                </div>
                <div id="btn_cal">
                    &nbsp;&nbsp;Callendar
                </div>
                <div id="btn_fr">
                    &nbsp;&nbsp;Friends
                </div>
            </div>
            <div id="contents">
                <div style="height: 30px;"></div>
                <!-- 1. overview -->
                <div id="ov_wpr">
                    <!-- overview contents -->
                    <div id="ov1">
                        <div id="ov1_t1">Welcome to FitDaily!</div>
                        Track Your Daily Activities & Workout !!
                    </div>
                </div>
                <!-- 2. workout -->
                <div id="wo_wpr">
                    <!-- workout contents -->
                    <div id="wo1">
                        <div id="wo1_t1">Welcome to FitDaily!</div>
                        Track Your Daily Activities & Workout !!
                    </div>
                </div>
                <!-- 3. callendar -->
                <div id="ca_wpr">
                    <!-- callendar contents -->
                    <div id="ca1">
                        <div id="ca1_t1">December 2023</div>
                        Track Your Daily Activities & Workout !!
                    </div>
                </div>
            </div>
            
        </div>
        <div style="margin-left: 5vw; width: 90vw; height:3px; background-color: #faa937;"></div>
        <div id="footer">
            <div style="color: #faa937;">Need some help? Feel free to contact us!</div>
            <div style="height: 5px;"></div>
            <div>Copyright&nbsp;<i class="fas fa-copyright"></i>&nbsp;2023. <br>Jinho Park. jinho142857@gmail.com<br> Jihwan Kim. jihwanbungsun@bungsun</div>
        </div>
    </div>
    
    <script>
        url = String(window.location.href);
        user = url.split("=")[1]

        $("#nav1_2").text(user)
        console.log(user)
    </script>

</body>
</html>